@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

html {
    font-size: 10px;
    font-family: 'Space Grotesk', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(112.23deg, #3E718E 0%, #64969B 100%);
}

main {
    box-sizing: border-box;
    padding: 1rem;
}

.header_margin {
    height: 10rem;
}

.login-form {
    height: 66rem;
    max-width: 100rem;
    margin: 0 auto;
    background: linear-gradient(90deg, rgba(255,255,255,1) 56%, rgba(81,120,121,1) 57%);
    display: flex;
    justify-content: space-around;
    font-size: 1.6rem;
}

.login-form__left {
    width: 55%;
    background-color: white;
}

.login-form__left-logo {
    font-size: 2.4rem;
    font-weight: 700;
    color: #496F74;
    margin: 1.2rem 0 4rem 3.2rem;
    display: flex;
    justify-content: space-between;
}

.login-form__left-logo a {
    text-decoration: none;
    color: #496F74;
}

.login-form__left-logo-menu {
    display: none;
    justify-content: center;
    justify-items: center;
    color: #24445B;
    font-size: 1.4rem;
    width: 50%;
}

.login-form__left-logo-menu-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 49%;
    text-align: center;
}

.login-form__left-logo-menu-item a {
    display: block;
}

.login-form__left-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form__left-form-header{
    font-weight: 700;
    font-size: 2rem;
    line-height: 3.6rem;
    text-align: center;
    margin: 1rem;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    height: 48rem;
}

input, label {
    display:block;
}

form input {
    width: 97%;
    padding: 0.5rem;
    border: 1px solid #CCCCCC;
    box-shadow: 0 2px 2px 2px rgba(204, 204, 204, 0.1);
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.7);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #CCCCCC;
    font-size: 1.2rem;
}

form label {
    font-weight: 700;
    margin: 1rem 0 0 0;
}

.form_optional {
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #A8A8A8;
}

.form_password_description{
    font-size: 1rem;
    line-height: 1.6rem;
    color: #A8A8A8;
}

.login-form__left-form-auth-login {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #C4C4C4;
    text-align: center;
}

.login-form__left-form-auth input[type="submit"]{
    background: #27485D;
    border: 1px solid #284A5E;
    box-shadow: 0 2px 2px 2px rgba(204, 204, 204, 0.1);
    border-radius: 4px;
    width: 100%;
    color: white;
    padding: 0.8rem;
    margin-bottom: 1rem;
}

.login-form__left-form-auth-login a{
    color: #476D73;
}


.login-form__right {
    width: 42%;
    color: white;
    font-weight: 700;
    background: linear-gradient(160.42deg, #517879 0%, #214159 100%);
    box-shadow: 0 0 10px 9px rgba(78, 117, 119, 1);
}

.login-form__right-header{
    margin-top: 2rem;
    margin-right: 1rem;
    display: flex;
    justify-content: right;
}

.login-form__right-header-item{
    width: 20%;
    text-align: center;
}

.login-form__right-header-item a {
    text-decoration: none;
    color: white;
}

.login-form__right-quote {
    margin: 45% auto 0 10%;
    font-size: 4.8rem;
    width: 90%;
    line-height: 6rem;
}

.login-form__right-author {
    margin-left: 10%;
}



@media screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }

    body {
        background: white;
    }

    .login-form {
        width: 100%;
        background: white;
    }
    .header_margin {
        display: none;
    }
    .login-form__left {
        width: 100%;
    }
    .login-form__left-logo-menu {
        display: flex;
    }
    .login-form__right {
        display: none;
    }
    form{
        width: 90%;
        height: 60rem;
    }
    .login-form__left-form-header{
        width: 90%;
        text-align: left;
    }

    form label {
        font-weight: 700;
        margin: 3rem 0 0 0;
    }
    form input {
        padding: 1rem;
    }

}